@use "./variables" as v;
@use "./mixin" as m;

.category-section {
  @include m.main-wrapper;

  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  div {
    position: relative;
    top: 0;
    transition: all 0.5s ease;
    flex-grow: 1;

    p {
      padding: 10px;
      background-color: v.$color-btn;
      position: absolute;
      bottom: 10px;
    }

    img {
      height: 450px;
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      top: -40px;
    }
  }
}

//MEDIA QUERY STARTS HERE

@media (max-width:1050px){

  .category-section {
    div {
      &:hover {
        top: 0;
        
      }
    }
  }

}