@use "./variables" as v;
@use "./mixin" as m;

.category {
  @include m.main-wrapper;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  -webkit-gap: 20px;
  -moz-gap: 20px;
  flex-wrap: wrap;

  &__items {
    position: relative;
    top: 0;
    transition: all 0.5s ease;
    flex-grow: 1;

      p {
        padding: 10px;
        background-color: v.$color-btn;
        position: absolute;
        bottom: 10px;
      }

      img {
        height: 450px;
        width: 100%;
        object-fit: cover;
      }

      &:hover, &:focus {
        top: -40px;
      }
  }
}

//MEDIA QUERY STARTS HERE

@media (max-width:1050px){

  .category {

    &__items {
      &:hover,&:focus {
        top: 0;
        
      }
    }
  }

}

@media (max-width: 650px){

  .category{
    &__items img{
      height: 250px;
    }
  }

}