@use "./_variables" as v;

.contact-hero{
    padding-top: 150px;
    background: url(./../assets/contact-us.jpg) no-repeat 70%;
    background-size: cover;
    height: 35vh;
    width: 100%;

    .contact-content{
        h1{
 
        }
    }
  
}