@use "./_variables" as v;
@use "./mixin" as m;

.contact-hero{
    padding-top: 150px;
    background: url(./../assets/contact-us.jpg) no-repeat 75%;
    background-size: cover;
    min-height: 300px;
    width: 100%;

    .contact-content{
        h1{
            @include m.main-wrapper;
            // max-width: 50%;
            margin-top: 2rem;
        }
    }
  
}

@media (max-width:700px){
    .contact-content{
        h1{
            padding-top: 0;
        }
    }
}