@use "variables" as v;
@use "mixin" as m;

.featured {
  text-align: center;
  z-index: -10;
 
    h2 {
      @include m.section-heading;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        background-color: v.$color-primary;
        width: 3rem;
        height: 3px;
        bottom: -20px;
        left: 50%;
        // will position the left edge of the pseudo-element at the center of the h2 element
        transform: translateX(-50%); 
        // will translate the element horizontally by 50% of its own width towards the left
      }
      
    }

    // GRID STARTS HERE
    &__grid {
      @include m.grid;
      @include m.grid-wrapper;
      row-gap: 10px;
      column-gap: 10px;
      z-index: -10;

      &__container {
        border: 1px solid lightgray;
        overflow: hidden;
        position: relative;
      }

      .product__img{
        width: 100%;
        transition: transform .2s ease-in-out;
      
        &:hover, &:focus {
          transform: scale(1.1); 
          cursor: pointer;
        }
      }


      .prod-3{
        position: relative;

        .new-prod{
            @include m.new-tag;
        }
        
      }

    }

}

 .product{

      &__container{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 15px;
            overflow: hidden;
    
    
            div{
                text-align: left;
            }
    
            p{
                font-weight: v.$body-reg;
            }
    
            
          }
         
       &__name{
              font-weight: v.$headings-reg;
              font-size: .8rem;
          }
    
        a {
            background: #fff;
            border: 1px solid lightgray;
        }

        &__price{
          display: flex;

          &--reg{
            text-decoration: line-through;
            padding-right: 10px;
          }
        }
    
    }

  .sales-tag{
    @include m.sale-tag;
}

.view-btn {
    @include m.btn;
    text-align: center;
    transition: all .3s ease;

    &:hover,&:focus{
      background: v.$color-primary;
      color: #fff;
    }
}

// MEDIA QUERY STARTS HERE 

@media (max-width:900px){
  .featured__grid{
    grid-template-columns: repeat(2,1fr);
  }

}