@use "./mixin" as m;
@use "./variables" as v;

footer {
  background-color: v.$color-primary;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .footer-logo {
    width: 100px;
  }

  .footer-container {
    @include m.main-wrapper;
    margin: 3rem auto;
    width: 100%;

    .footer-column {
      height: 100%;

      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .social-channels {

        img {
          padding-right: 10px;
        }
      }

      .footer-about {
        max-width: 70%;
        padding-top: 10px;
      }

      p {
        color: #fff;
        margin: 3px 0;

        &:nth-child(1) {
          font-weight: v.$body-reg;
          font-size: 0.8rem;
        }
      }

      .icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;

        img {
          height: 0.7rem;
        }
      }

      label {
        font-size: 0.7rem;
        padding-top: 10px;

      }

      input {
        border: none;
        border-bottom: 1px solid #fff;
        background-color: v.$color-primary;
        padding-top: 20px;

        &::placeholder {
          color: #fff;
          font-size: 0.5rem;
        }
      }
    }
  }
}

.padding {
    padding-top: 20px;
}

//MEDIA QUERY STARTS HERE

@media (max-width:1000px){
 
}