@use "./mixin" as m;
@use "./variables" as v;

.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  background-color: v.$color-primary;
  color: v.$color-tertiary;

//FIX FOR NOT ENOUGH CONTENT
  flex:1;

  &__logo {
    width: 100px;
  }

  &--about {
    max-width: 70%;
    padding-top: 10px;
  }

  &__column {
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;

    .social-channels {

      img {
        padding-right: 10px;
      }
    }

    p {
      color: v.$color-tertiary;
      margin: 3px 0;

      &:nth-child(1) {
        font-weight: v.$body-reg;
        font-size: 0.8rem;
      }
    }

    span{
      display: none;
    }

    .icons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      -webkit-gap: 5px;
      -moz-gap: 5px;

      img {
        height: 0.7rem;
      }
    }

    label {
      font-size: 0.7rem;
      padding-top: 10px;

    }

    input {
      border: none;
      border-bottom: 1px solid  v.$color-tertiary;
      background-color: v.$color-primary;
      padding-top: 20px;
      outline: none;
      color:  v.$color-tertiary;

      &::placeholder {
        color:  v.$color-tertiary;
        font-size: 0.5rem;
      }
    }
  }

  &__container {
    @include m.main-wrapper;
    display: flex;
    flex-wrap: wrap;

    margin: 3rem auto;



  }
}

.padding {
    padding-top: 20px;
}

//MEDIA QUERY STARTS HERE

@media (max-width:1050px){

  .footer__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    -webkit-gap: 20px;
    -moz-gap: 20px;
  }

}

@media (max-width:650px){

.footer{

  &__container{
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      -webkit-gap: 20px;
      -moz-gap: 20px;
    }

    &__column {

      span{
        display: inline;
        padding-left: 10px;
        cursor: pointer;
      }
    }

    &--about{
      padding: 1rem 0;
     }

  }

  .accordion{
    ul{
      display: none;
    }
  }



  
}



