@use "./variables" as v;
@use "./mixin" as m;

html{
    font-size: 125%;
    height: 100%;
}

body{
    font-family: v.$font-main;
    color: v.$color-primary;
    background-color: #fff;
    //FIX FOR CONTACT FOOTER
    display:flex; 
    flex-direction:column; 
    min-height:100vh;
}

header{
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

h1{
    font-weight: v.$headings-reg;
    font-size: 2rem;
    line-height: 1.2;
}

h2{
    @include m.section-heading;
}

p{
    font-weight: v.$body-reg;
    font-size: .7rem;
    line-height: 1.7;
    
}

a{
    text-decoration: none;
    color: v.$color-primary;
}

// MEDIA QUERY STARTS HERE 
@media (max-width:700px){
    h1{
        font-size: 1.8rem;
        margin: 0 auto;
        font-weight: v.$body-bold;
        padding-top: 10rem;
    }
  }