@use "./variables" as v;
@use "./mixin" as m;

html{
    font-size: 125%;
}

body{
    font-family: v.$font-main;
    color: v.$color-primary;
    background-color: #fff;
}

h1{
    font-weight: v.$headings-reg;
    font-size: 2rem;
    line-height: 1.2;
}

h2{
    @include m.section-heading;

}

p{
    font-weight: v.$body-reg;
    font-size: .7rem;
    line-height: 1.7;
}

a{
    text-decoration: none;
    color: v.$color-primary;
}

main{
}

