@use "./_variables" as v;
@use "./mixin" as m;


.hero{
  background: url(./../assets/home.jpg) no-repeat 70% bottom;
  background-size: cover;
  min-height: 700px;
  width: 100%;

  &__content {
    @include m.main-wrapper;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;

    h1{
      width: 3rem;
    }

    p {
      padding-top: 0.5rem;
      width: 15rem;
    }

    a{
      display: none;
    }

  }
}

// MEDIA QUERY STARTS HERE 
@media (max-width:810px){

  .hero {
    background-position: 95%;

    &__content{
      width: 100%;
      margin: 0 auto;
      padding: 30px;
      text-align: center;

      h1{
        width: 100%;
      }

      p{
        display: none;
      }

      a{
       display: inline-block;
       text-transform: uppercase;
       background-color: v.$color-primary;
       color: v.$color-tertiary;
       padding: 15px 20px;
       width: 150px;
       margin: 30px auto;
       font-size: .7rem;
       letter-spacing: 1px;
     }

     }
  }
}