@use "./_variables" as v;

.hero-banner {
  background: url(./../assets/home.jpg) no-repeat 70% bottom;
  background-size: cover;
  height: 60vh;
  width: 100%;

  .hero-content {
    width: 20%;
    height: 100%;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;

    p {
      padding-top: 0.5rem;
    }

    a{
      display: none;
    }
  }
}

// MEDIA QUERY STARTS HERE 
@media (max-width:700px){

  .hero-banner {
    background-position: 95%;
    height: 40vh;

    .hero-content{
      width: 100%;
      margin: 0 auto;
      padding: 30px;
      text-align: center;

      p{
        display: none;
      }

      a{
       display: inline-block;
       text-transform: uppercase;
       background-color: v.$color-primary;
       color: #fff;
       padding: 15px 20px;
       width: 150px;
       margin: 30px auto;
       font-size: .7rem;
       letter-spacing: 1px;
     }

     }
  }
}