@use './variables' as v;

//WRAPPERS AND GRID

@mixin nav-wrapper{
    max-width: v.$width-max; //1440px
    width: 95%;
    margin: 0 auto;
}
@mixin grid-wrapper{
    max-width: v.$width-grid; //1400px
    width: 90%;
    margin: 5rem auto;
}

@mixin hero-wrapper{
    max-width: v.$width-hero; //1300px
    width: 75%;
    margin: 5rem auto;
}

@mixin main-wrapper{
    max-width: v.$width-regular; //1200px
    width: 70%;
    margin: 5rem auto;
}

//REUSABLE ELEMENTS 
@mixin sale-tag {
    position: absolute;
    top: 20px;
    left: 0;
    background: v.$color-sale;
    padding: 2px 5px;
    color: v.$color-tertiary;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
@mixin new-tag {
    position: absolute;
    top: 20px;
    left: 0;
    background: v.$color-new;
    padding: 2px 5px;
    color: v.$color-tertiary;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
@mixin btn {
    background: v.$color-tertiary;
    border: 1px solid v.$color-primary;
    font-size: .7rem;
    padding: 15px 30px;
    cursor: pointer;
}

@mixin section-heading {
    font-weight: v.$headings-reg;
    font-size: 2rem;
}

@mixin grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@mixin modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    background-color: v.$color-tertiary;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px rgba(v.$color-secondary, .4);
    z-index: 300;
    min-width: 315px;
    max-width: 500px;
    padding: 3rem;
}

@mixin modal-exit{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
