@use './variables' as v;

@mixin section-heading {
    font-weight: v.$headings-reg;
    font-size: 2rem;
}

//WRAPPERS AND GRID

@mixin nav-wrapper{
    max-width: v.$width-max; //1440px
    width: 95%;
    margin: 0 auto;
}
@mixin main-wrapper{
    max-width: v.$width-regular; //1200px
    width: 70%;
    margin: 5rem auto;
}
@mixin grid-wrapper{
    max-width: 90%;
    margin: 5rem auto;
}
@mixin grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

//TAGS, BUTTONS CAN BE RE-USED
@mixin sale-tag {
    position: absolute;
    top: 20px;
    left: 0;
    background: v.$color-sale;
    padding: 2px 5px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
@mixin new-tag {
    position: absolute;
    top: 20px;
    left: 0;
    background: v.$color-new;
    padding: 2px 5px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
@mixin btn {
    background: #fff;
    border: 1px solid v.$color-primary;
    font-size: .7rem;
    padding: 15px 30px;
    cursor: pointer;
}

