@use "./mixin" as m;
@use "./variables" as v;

.nav{
    @include m.nav-wrapper;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: .7rem;
    background-color: v.$color-tertiary;


    &__logo {
        img{
            width: 100px;
        }
    }

    &__desktop{
        display: flex;
        list-style-type: none;
        text-transform: uppercase;
        text-decoration: none;
   

        &__items {
            padding: 0 20px;

            a {
                position: relative;
                display: inline-block;
                padding-bottom: 5px;

                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 0;
                    transition: width
                    .3s ease-in-out;
                }

                &:hover::after, &:focus::after{
                    width: 50%;
                    background-color: v.$color-primary;
                }
            }

        }
    }

    &__mobile{

            display: flex;
            position: relative;
        
            p{
                position: absolute;
                top: 0;
                right: 0;
                font-size: .5rem;
            }
        
            &__icons{
                display: none;
            }
         
    }
}



// MEDIA QUERY STARTS HERE 
@media (max-width:700px){
    .nav__mobile{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 5px;
        -webkit-gap: 5px;
        -moz-gap: 5px;

        p{
            position: absolute;
            top: 0;
            left: 25px;
            font-size: .5rem;
        }
        
        &__icons{
            display: block;
            text-align: center;

            i{
                width: 30px;
                font-size: 20px;
            }
        }
     
    }

    .nav__desktop{
        display: none;
    }

}





