@use "./mixin" as m;
@use "./variables" as v;

.sales{
    @include m.main-wrapper;

    display: flex;
    justify-content: space-between;
    gap: 20px;
    -webkit-gap: 20px;
    -moz-gap: 20px;
    flex-wrap: wrap;

    img {
        height: 450px;
        width: 100%;
        object-fit: cover;
    }

    &--fifty{
        flex-grow: 1;

        text-align: center;
        position: relative;

    }

    .sofa-collection{
        flex-grow: 2;
        position: relative;

    }

    &--details{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 70px;
        min-width: 200px;
        height: 150px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
            text-transform: uppercase;

            &:nth-child(1){
                background: #fff;
                padding: 0 20px;
                font-size: .8rem;
                color: #d7b89c;
                width: fit-content;
                margin: 0 auto;
            }

            &:nth-child(2){
                font-weight: v.$body-bold;
                color: #fff;
                font-size: 2rem;
            }
        }

    }

    &--sofa{
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%); 
        min-width: 300px;

        color: #fff;
        border: 1px solid #fff;
        padding: 10px 20px;

        p{
            text-align: center;
            font-size: 1.5rem;
            
            span{
                font-weight: v.$body-bold;
                font-size: 3rem;
            }
        }

    }

    .shop-now{
        font-size: .8rem;
        color: #fff;
    }

}

@media (max-width: 650px){
    .sales{
        img{
            height: 250px;
        }
        .sofa-details{
            border: none;
            p{
            font-size: .7rem;
            }
        }
    }
    
  }