//COLOURS
$color-primary: #333;
$color-secondary: #666;
$color-btn: #fff;
$color-sale: #eba6aa;
$color-new: #88cce2;

//TYPOGRAPHY
$font-main: 'Poppins', sans-serif;
$headings-reg: 500;
$body-reg: 400;
$body-bold: 700;

//MARGINS AND PADDINGS
$width-max: 1440px;
$width-regular: 1200px;
$margin-section: 2rem;
