html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.nav {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-size: 0.7rem;
  background-color: #fff;
}
.nav__logo img {
  width: 100px;
}
.nav__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__desktop__items {
  padding: 0 20px;
}
.nav__desktop__items a {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}
.nav__desktop__items a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.nav__desktop__items a:hover::after, .nav__desktop__items a:focus::after {
  width: 50%;
  background-color: #333;
}
.nav__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.nav__mobile p {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.5rem;
}
.nav__mobile__icons {
  display: none;
}

@media (max-width: 700px) {
  .nav__mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    -webkit-gap: 5px;
    -moz-gap: 5px;
  }
  .nav__mobile p {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 0.5rem;
  }
  .nav__mobile__icons {
    display: block;
    text-align: center;
  }
  .nav__mobile__icons i {
    width: 30px;
    font-size: 20px;
  }
  .nav__desktop {
    display: none;
  }
}
html {
  font-size: 125%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

p {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #333;
}

.hero {
  background: url(./../assets/home.jpg) no-repeat 70% bottom;
  background-size: cover;
  min-height: 700px;
  width: 100%;
}
.hero__content {
  max-width: 1200px;
  width: 70%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 700px;
}
.hero__content h1 {
  width: 3rem;
}
.hero__content p {
  padding-top: 0.5rem;
  width: 15rem;
}
.hero__content a {
  display: none;
}

@media (max-width: 810px) {
  .hero {
    background-position: 95%;
  }
  .hero__content {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
  }
  .hero__content h1 {
    width: 100%;
  }
  .hero__content p {
    display: none;
  }
  .hero__content a {
    display: inline-block;
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    width: 150px;
    margin: 30px auto;
    font-size: 0.7rem;
    letter-spacing: 1px;
  }
}
.category {
  max-width: 1200px;
  width: 70%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-gap: 20px;
  -moz-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.category__items {
  position: relative;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.category__items p {
  padding: 10px;
  background-color: #fff;
  position: absolute;
  bottom: 10px;
}
.category__items img {
  height: 450px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category__items:hover, .category__items:focus {
  top: -40px;
}

@media (max-width: 1367px) {
  .category__items:hover, .category__items:focus {
    top: 0;
  }
}
@media (max-width: 650px) {
  .category__items img {
    height: 250px;
  }
}
.featured {
  text-align: center;
  z-index: -10;
}
.featured h2 {
  font-weight: 500;
  font-size: 2rem;
  position: relative;
}
.featured h2::before {
  content: "";
  position: absolute;
  background-color: #333;
  width: 3rem;
  height: 3px;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.featured__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 90%;
  margin: 5rem auto;
  row-gap: 10px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  z-index: -10;
}
.featured__grid__container {
  border: 1px solid lightgray;
  overflow: hidden;
  position: relative;
}
.featured__grid .product__img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.featured__grid .product__img:hover, .featured__grid .product__img:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
.featured__grid .prod-3 {
  position: relative;
}
.featured__grid .prod-3 .new-prod {
  position: absolute;
  top: 20px;
  left: 0;
  background: #88cce2;
  padding: 2px 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  overflow: hidden;
}
.product__container div {
  text-align: left;
}
.product__container p {
  font-weight: 400;
}
.product__name {
  font-weight: 500;
  font-size: 0.8rem;
}
.product a {
  background: #fff;
  border: 1px solid lightgray;
}
.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product__price--reg {
  text-decoration: line-through;
  padding-right: 10px;
}

.sales-tag {
  position: absolute;
  top: 20px;
  left: 0;
  background: #eba6aa;
  padding: 2px 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.view-btn {
  background: #fff;
  border: 1px solid #333;
  font-size: 0.7rem;
  padding: 15px 30px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.view-btn:hover, .view-btn:focus {
  background: #333;
  color: #fff;
}

@media (max-width: 900px) {
  .featured__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.sales {
  max-width: 1200px;
  width: 70%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-gap: 20px;
  -moz-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sales img {
  height: 450px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sales__fifty {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  position: relative;
}
.sales__sofa {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  position: relative;
}
.sales__sofa--details {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 300px;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
}
.sales__sofa--details p {
  text-align: center;
  font-size: 1.5rem;
}
.sales__sofa--details p span {
  font-weight: 700;
  font-size: 3rem;
}
.sales--details {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 70px;
  min-width: 200px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sales--details p {
  text-transform: uppercase;
}
.sales--details p:nth-child(1) {
  background: #fff;
  padding: 0 20px;
  font-size: 0.8rem;
  color: #d7b89c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.sales--details p:nth-child(2) {
  font-weight: 700;
  color: #fff;
  font-size: 2rem;
}
.sales .shop-now {
  font-size: 0.8rem;
  color: #fff;
}

@media (max-width: 650px) {
  .sales img {
    height: 250px;
  }
  .sales .sales__sofa--details {
    border: none;
  }
  .sales .sales__sofa--details p {
    font-size: 0.7rem;
  }
}
.instagram-section {
  max-width: 1200px;
  width: 70%;
  margin: 5rem auto;
  text-align: center;
}
.instagram-section p {
  color: #666;
  opacity: 0.6;
  padding: 10px 0;
  font-size: 1rem;
}
.instagram-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  -webkit-gap: 20px;
  -moz-gap: 20px;
  padding-top: 3rem;
}
.instagram-section ul li {
  width: 20%;
  overflow: hidden;
}
.instagram-section ul img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.instagram-section ul img:hover, .instagram-section ul img:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 1050px) {
  .instagram-section ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    -webkit-gap: 10px;
    -moz-gap: 10px;
  }
  .instagram-section ul li {
    width: 100%;
  }
  .instagram-section .instagram-temp {
    display: none;
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #333;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
footer .footer-container {
  max-width: 1200px;
  width: 70%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem auto;
}
footer .footer-container .footer-logo {
  width: 100px;
}
footer .footer-container .footer-column {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-container .footer-column .social-channels img {
  padding-right: 10px;
}
footer .footer-container .footer-column .footer-about {
  max-width: 70%;
  padding-top: 10px;
}
footer .footer-container .footer-column p {
  color: #fff;
  margin: 3px 0;
}
footer .footer-container .footer-column p:nth-child(1) {
  font-weight: 400;
  font-size: 0.8rem;
}
footer .footer-container .footer-column .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -webkit-gap: 5px;
  -moz-gap: 5px;
}
footer .footer-container .footer-column .icons img {
  height: 0.7rem;
}
footer .footer-container .footer-column label {
  font-size: 0.7rem;
  padding-top: 10px;
}
footer .footer-container .footer-column input {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #333;
  padding-top: 20px;
  outline: none;
  color: #fff;
}
footer .footer-container .footer-column input::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.5rem;
}
footer .footer-container .footer-column input::-moz-placeholder {
  color: #fff;
  font-size: 0.5rem;
}
footer .footer-container .footer-column input:-ms-input-placeholder {
  color: #fff;
  font-size: 0.5rem;
}
footer .footer-container .footer-column input::-ms-input-placeholder {
  color: #fff;
  font-size: 0.5rem;
}
footer .footer-container .footer-column input::placeholder {
  color: #fff;
  font-size: 0.5rem;
}

.padding {
  padding-top: 20px;
}

@media (max-width: 1050px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    -webkit-gap: 20px;
    -moz-gap: 20px;
  }
}
@media (max-width: 650px) {
  footer {
    text-align: center;
    font-size: 1rem;
  }
  footer .footer-logo {
    margin: 1rem auto;
  }
  footer .footer-container {
    display: block;
  }
  footer .footer-container .footer-about {
    display: none;
  }
  footer .footer-container .profile {
    display: none;
  }
  footer .footer-container .footer-column .social-channels {
    display: none;
  }
  footer .footer-container .footer-column label {
    font-size: 0.9rem;
  }
  footer .footer-container .hide-content {
    display: none;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact-hero {
  padding-top: 150px;
  background: url(./../assets/contact-us.jpg) no-repeat 75%;
  background-size: cover;
  min-height: 300px;
  width: 100%;
}
.contact-hero .contact-content h1 {
  max-width: 1200px;
  width: 70%;
  margin: 5rem auto;
  margin-top: 2rem;
}

@media (max-width: 700px) {
  .contact-content h1 {
    padding-top: 0;
  }
}
form {
  max-width: 1200px;
  width: 70%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
form .sub-btn {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 10px 35px;
  border: 1px solid #333;
  font-size: 0.7rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
form .sub-btn:hover, form .sub-btn:focus {
  background-color: #333;
  color: #fff;
}
form input, form textarea {
  width: 50%;
  border: none;
  border-bottom: 1px solid #333;
  margin-bottom: 2rem;
  outline: none;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
}
form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
}
form input::placeholder, form textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
}

@media (max-width: 700px) {
  form input, form textarea {
    width: 100%;
  }
}